</div>
</header>
<div class="nav-scroller py-1 mb-3 border-bottom">
<nav class="navv nav nav-underline justify-content-between">
<a class="nav-item nav-link link-body-emphasis active" href="/">Home</a>
<a class="nav-item nav-link link-body-emphasis" href="/items/jewelery">Jewelery</a>
<a class="nav-item nav-link link-body-emphasis" href="/items/men's clothing">Mens</a>
<a class="nav-item nav-link link-body-emphasis" href="/items/women's clothing">Womens</a>
<a class="nav-item nav-link link-body-emphasis" href="/items/electronics">Technology</a>
<a class="nav-item nav-link link-body-emphasis" href="/items/all">All Itmes</a>
</nav>
</div>
</div>

